.back {
  position: relative;
  background-image: url(/images/bg-card-back.png);
  background-size: contain;
  height: 157px;
  width: 286px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 37px;
  justify-self: flex-end;
  margin-top: 16px;
}

.back-text {
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1.29px;
  color: #fff;
}

@media screen and (min-width: 1440px) {
  .back {
    width: 447px;
    height: 245px;
    margin-top: 0;
    align-self: center;
    margin-left: 258px;
    padding: 50px;
  }

  .back-text {
    font-size: 14px;
    letter-spacing: 2px;
  }
}
