.container {
  background-image: url(/images/bg-main-mobile.png);
  box-shadow: 0 39px 60px 0 rgba(0, 0, 0, 0.14);
  display: grid;
  padding: 16px;
}

@media screen and (min-width: 1440px) {
  .container {
    background-image: url(/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    grid-template-rows: auto;
    padding-top: 150px;
    padding-bottom: 100px;
  }
}
