.front {
  position: relative;
  background-image: url(/images/bg-card-front.png);
  background-size: contain;
  width: 285px;
  height: 156.2px;
  padding: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -68px;
}

.card-logo {
  width: 50px;
}

.front-text {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.card-number {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2.2px;
  color: #fff;
}

.name-date {
  display: flex;
  justify-content: space-between;

  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1.29px;
  color: #fff;
}
